* {
    box-sizing: border-box;
}

html, body {
    background-color: $rkn-black;
    color: #fff;
    font-family: 'Gentium Book Basic', serif;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 18px;
}

.logo {
    display: block;
    margin: 0 auto;
    border: 1px solid $rkn-black;
    @include hide-text();
    @include border-radius(100px);
    @include transition(all .25s ease-in);
    @include transform-origin(center, center);
    &.rokkan {
        background: white image-url('logo-rokkan.png') 50% 45% no-repeat;
        width: 125px;
        height: 125px;
    }
    &.grunt {
        background: white image-url('logo-grunt.png') 60% 45px no-repeat;
        width: 400px;
        height: 400px;
        @include border-radius(200px);
        @include transform(scale(.32));
    }
    &.roger {
        background: white image-url('splash-roger.png') 50% 50% no-repeat;
        width: 200px;
        height: 200px;
        @include transform(scale(.65));
    }
}

.logo-wrapper {
    position: relative;
    width: 25%;
    margin: 0 auto;
    @include cf();
    .roger {
        // margin-top: -36px;
    }
    .grunt {
        margin-top: -130px;
        margin-left: -102px;
    }
}