* {
    box-sizing: border-box;
}

html, body {
    background-color: $rkn-black;
    color: #fff;
    font-family: 'Gentium Book Basic', serif;
    font-size: 24px;
    overflow: hidden;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
}


a {
    color: #f1f1f1;
    &:hover {
        color: #ffffff;
        text-decoration: none;
    }
}

.logo {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid $rkn-black;
    @include hide-text();
    @include border-radius(100px);
    @include transition(all .25s ease-in);
    @include transform-origin(center, center);
    &.rokkan {
        background: white image-url('logo-rokkan.png') 50% 45% no-repeat;
    }
    &.grunt {
        background: white image-url('logo-grunt.png') 50% 50% no-repeat;
    }
    &.roger {
        background: white image-url('splash-roger.png') 50% 50% no-repeat;
    }
}

.logo-wrapper {
    position: relative;
    width: 25%;
    margin: 0 auto;
    @include cf();
}