* {
    box-sizing: border-box;
}

html, body {
    background-color: $rkn-black;
    color: #fff;
}

p {
    font-size: 18px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    background: white image-url('rokkan-logo.png') 50% 45% no-repeat;
    width: 125px;
    height: 125px;
    margin: 0;
    border: 1px solid $rkn-black;
    @include hide-text();
    // @include box-shadow(2px 2px 0 $rkn-black);
    @include border-radius(100px);
    @include transition(all .25s ease-in);
    @include transform-origin(center, center);
}

.me {
    position: absolute;
    top: 100px;
    left: -38px;
    background: white image-url('splash-roger.png') 50% 50% no-repeat;
    width: 200px;
    height: 200px;
    margin: 0;
    border: 1px solid $rkn-black;
    @include hide-text();
    @include box-shadow(2px 2px 0 $rkn-black);
    @include border-radius(100px);
    @include transition(all .5s ease-in);
    @include transform-origin(center, center);
    @include transform(scale(.5) translateX(-200px) rotate(-45deg));
}

.bespoke-active {
    .me {
        @include transform(scale(.5) translateX(0) rotate(0));
    }
}