section {
    opacity: 0;
    background-color: $rkn-black;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    // @include transition(all .25s ease-in);
    > .inner {
        z-index: 10;
        position: relative;
        width: 50%;
        padding: 30px;
        margin: 0 auto;
    }
    &.tools-are-a-hassle {
        background-color: #fff;
        .slide-title {
            text-shadow: 2px 2px 2px $rkn-black;
        }
    }
}

.gif-bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: 50% 50%;
    @include filter(brightness(0.25));
    @include transform-origin(top, left);
    @include transform(scale(5));
    &.drip {
        @include filter(brightness(1));
        background-image: image-url('drip.gif');
    }
    &.no_time {
        padding: 250px 250px 250px 350px;
        background-image: image-url('no_time.gif');
        @include filter(brightness(1));
        @include transform(scale(3));
    }
    &.moving_parts {
        background-image: image-url('moving_parts.gif');
    }
    &.moving_parts_too {
        background-image: image-url('moving_parts_too.gif');
    }
    &.magic_kitty {
        background-image: image-url('magic_kitty.gif');
    }
    &.fear_of_change {
        background-image: image-url('fear_of_change.gif');
    }
    &.future_tools {
        background-image: image-url('future_tools.gif');
    }
    &.loading {
        background-image: image-url('loading.gif');
    }
    &.grunt_task {
        background-image: image-url('grunt_task.gif');
        @include filter(brightness(0.35));
    }
    &.hipster {
        background-image: image-url('hipster.gif');
        @include filter(brightness(0.75));
    }
    &.enter_the_matrix {
        background-image: image-url('enter_the_matrix.gif');
    }
    &.thanks {
        background-image: image-url('thanks.gif');
        width: 100%;
        height: 100%;
        @include transform(scale(1));
        @include filter(brightness(1));
    }
}


.heading-wrapper,
header {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    span {
        font-family: 'Gentium Book Basic', serif;
        font-style: italic;
        text-transform: none;
        display: block;
        // margin-top: 10px;
        margin-bottom: 0;
        &:before, &:after {
            font-style: normal;
            content: '—';
            padding: 15px;
        }
    }
    // .ascender {
    //     margin-top: 6px;
    //     margin-bottom: 0;
    // }
    // .descender {
    //     margin-top: 10px;
    //     margin-bottom: 5px;
    // }
    .micro {
        font-size: .45em;
    }
}

.conclusion {
    .logo-wrapper {
        height: 600px;
        .roger {
            // margin-top: 80px;
        }
    }
}