.bespoke-parent {}
.bespoke-slide {
    overflow: hidden;
    // @include transform-origin(50%, 50%, -50%);
    > .inner {
        @include transform-origin(50%, 50%, -50%);
    }
}
.bespoke-active {
    opacity: 1;
    @include transition(all .8s ease);
    > .inner {
        opacity: 1;
        @include transition(all 1.5s ease);
    }
}
.bespoke-inactive {
    > .inner {
        opacity: 0;
    }
}

.bespoke-before {
    // @include transform(rotateX(-90deg));
    > .inner {
        @include transform(rotateX(-90deg));
    }
}

.bespoke-after {
    // @include transform(rotateX(90deg));
    > .inner {
        @include transform(rotateX(90deg));
    }
}
